<header class="main-header">
    <div class="container">
        <h1 class="page-title">Sobre Nós</h1>

        <ol class="breadcrumb pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Sobre</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title-logo animated fadeInDown animation-delay-5">Capital<span>Gastronômica</span></div>
        </div>
        <div class="col-xs-12">
            <p class="slogan text-center animated bounceInLeft animation-delay-12">
            Nossos princípios são <span>Respeito</span>, <span>Ética</span>, <span>Comprometimento</span> e <span>Pontualidade</span>.</p>
        </div>
        <div class="col-md-7 wow fadeInUp">
            <h2 class="right-line">Sobre Nós</h2>
            <p class="p-lg">Com o objetivo de atender nossos clientes com excelência
                fundamos a <strong>Capital Gastronômica</strong>. Focada em satisfazer todas suas necessidades e desejos, 
                produzimos com eficiência, qualidade, pontualidade e honestidade o seu evento por um preço justo. </p>
            <p class="p-lg">Nossa equipe é treinada para atender, montar, conduzir e finalizar sua festa. Tudo em conexão direta com o cliente.
            Desenvolvemos cardápios diversos, inclusive de alta gastronomia.</p>
            <h4>Missão</h4>
            <p class="p-lg p-margin">Superar as expectativas objetivas e subjetivas de nossos clientes em agilidade e qualidade com eficiência.</p>
            <h4>Visão</h4>
            <p class="p-lg p-margin">Ser reconhecida como o melhor buffet no segmento gastronômico.</p>
            <h4>Valores</h4>
            <p class="p-lg p-margin">Foco no cliente, respeito, ética, comprometimento e pontualidade.</p>
            <hr class="dotted">
            <blockquote class="blockquote-color-bg-primary">
                <p>Lute sempre pelos seus sonhos, revolucione a sua qualidade de vida. 
                Seja profundamente apaixonado pela vida, pois a vida é um espetáculo imperdível!</p>
                <footer>Augusto Cury</footer>
            </blockquote>
        </div>
        <div class="col-md-5 wow fadeInUp">
            <h2 class="right-line">Cheff</h2>
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 class="section-title no-margin-top">Paula Marques de Sá<small class="pull-right"></small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                    
                        <p class="no-margin-top p-jus">Profissional da área de exatas, desde cedo usou a sua rapidez de raciocínio em criar 
                        o reaproveitamento em sua empresa, onde há 27 anos descobriu que seu lucro estava indo para o lixo - o leite que 
                        deveria ser queijo e patês, os iorgutes que virariam froozen e os bolos em pão de mel.</p>
                        <p class="p-jus">
                        Continuando no mesmo segmento, mas diversificando as formas, apaixonou-se pela alquimia culinária, onde resultou
                        em vários pratos exóticos e de alta palatabilidade. 
                        Foi convidada a fazer parte do programa culinário da Emissora TV Mar de Santos, 
                        o qual apresentava pratos gastronômicos com famosos, tais como Luciano Szafir, Luciano Faccioli, Nuno Leal Maia,
                        Grupo Kaluana, Fat Family, Marcio França, Tânia Alves, entre outros. 
                        </p>
                        <p class="p-jus">Eis que chegou o momento de colocar todos os seus conhecimentos culinários para seus clientes, estes que às acompanham
                        durante a gostosa jornada dos eventos que perdura há 12 anos.</p>                        
                    </div>
                </div>
            </section>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 978018489;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/978018489/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>