<header class="main-header">
    <div class="container">
        <h1 class="page-title">Orçamento</h1>

        <ol class="breadcrumb pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Orçamento</li>
        </ol>
    </div>
</header>

<div class="container">
    <div class="row animated fadeInUp animation-delay-10">
       <div class="col-md-12">
				<h2 class="section-title no-margin-top">Sua mensagem foi enviada com sucesso!</h2>
				</div>
				<div class="col-md-8">
					<div class='alert alert-success'>
						Obrigado! Logo entraremos em contato!
				  </div>
				</div>

        <div class="col-md-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-info-circle"></i> Informações</div>
                    <div class="panel-body">
                        <h4 class="section-title no-margin-top">Contatos</h4>
                        <address>
                            <strong>Capital Gastronômica</strong><br>
                            <i class="fa fa-phone"></i><abbr title="Telefone"> Tel.</abbr> (11) 5668-7120 <br>
                            <i class="fa fa-phone"></i><abbr title="Telefone"> Tel.</abbr> (11) 94787-7777 <i>(Whatsapp)</i><br>
                            <i class="fa fa-envelope"></i> E-mail: <a href="#">contato@capitalgastronomica.com.br</a><br>                            					
                        </address>
	                     <!-- Business Hours -->
                        <h4 class="section-title no-margin-top">Localização</h4>
							<i class="fa fa-home"></i> Rua Stefano Franceschini, 138 <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CEP 04293-037 - Saúde - São Paulo/SP <br><br>	
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.508159590866!2d-46.61280966702193!3d-23.621965974146654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5b74a5bc814f%3A0x398cfc305fa9712!2sRua+Stefano+Franceschini%2C+138+-+Sa%C3%BAde%2C+S%C3%A3o+Paulo+-+SP%2C+04293-037!5e0!3m2!1spt-PT!2sbr!4v1482791385705" width="355" height="300" frameborder="0" style="border:0"></iframe>
					</div>
                </div>				
            </section>
        </div>
    </div>    
</div> <!-- container -->

